<div class="card w-full {{isTransparent ? ' bg-transparent' : ' bg-base-100 shadow'}}">
  @if (default) {
      <ng-content select="[default]"></ng-content>
  }
  @if (title) {
      <h2 class="card-title">
          <ng-content select="[title]"></ng-content>
      </h2>
  }
  @if (header && !default) {
      <div class="w-full {{isPadding ? 'p-4' : 'p-0'}}">
          <ng-content select="[header]"></ng-content>
      </div>
  }
  @if (body && !default) {
      <div class="card-body {{isPadding ? '' : 'p-0'}}">
          <ng-content select="[body]"></ng-content>
      </div>
  }
  @if (footer && !default) {
      <div class="card-actions">
          <ng-content select="[footer]"></ng-content>
      </div>
  }
</div>